body{
  background-color: whitesmoke;
  margin: 20px 100px 0px;
}

/* This will make it so all a tags are only blue/underlined when the cursor is hovering */
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: blue;
  text-decoration: underline;
}

/* takes out the auto styling in ul */
ul{
  list-style: none;
}

/* this is the ocntainer for the sidebar and main */
#layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 20px 100px 0px; */
  gap: 24px;
}

#layout-main{
  flex:1;
}

/* profile picture */
.card-img-top{
  border-radius: 50%;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}


.project-icon {
  margin-top: 15px;
  margin-left: 7px;
}

.overview-icon {
  margin-top: 2px;
  margin-left: 5px;
}

.project-link {
  margin-left: 5px;
}

a:active {
 border-bottom: 1px solid black;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
