body{
  background-color: whitesmoke;
  margin: 20px 100px 0px;
  line-height: 1.5;
  font-family: 'Arimo', sans-serif;
}

/* This will make it so all a tags are only blue/underlined when the cursor is hovering */
a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

/* takes out the auto styling in ul */
ul{
  list-style: none;
}

/* this is the ocntainer for the sidebar and main */
#layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 20px 100px 0px; */
  gap: 24px;
}

#layout-main{
  flex:1;
}

/* profile picture */
.card-img-top{
  border-radius: 50%;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}


/* .project-icon {
  margin-top: 15px;
  margin-left: 7px;
}

.overview-icon {
  margin-top: 2px;
  margin-left: 5px;
}

.project-link {
  margin-left: 5px;
} */

a:active {
 border-bottom: 1px solid black;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.pinned-icon-title{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.pinned-card-title{
  margin-left: 5px;
  font-weight: bold;
}

.lang-star-fork{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 140px;
  flex-wrap: nowrap;

}

.lang-dot-color{
  background-color: blue;
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid none;
  border-radius: 50%;
}

#pinned-repos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;
}
